@import url('https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');
body {
  /* Your body styles here */
}

/* Body Styles */
body {
    font-family: 'Barlow', sans-serif;
    /* Other body styles */
  }

/* Hero Section Styles */
.hero-section {
    background: url('../images/my_portfolio_picture.jpg') no-repeat center center/cover;
    height: 500px; /* Adjust the height as needed */
    /* color: white; Text color on top of the background image */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Jumbotron Styles */
  .jumbotron-text {
    text-align: center;
  }

  @media (min-width: 768px) {
    .jumbotron-text {
      text-align: center;
      max-width: 600px; /* Set a maximum width for desktop view */
      margin: 0 auto; /* Center the container horizontally on desktop view */
    }
  }

  .jumbotron-container {
    padding-left: 40px; /* Increase left padding */
    padding-right: 40px; /* Increase right padding */
    margin-left: auto; /* Center the Jumbotron horizontally */
    margin-right: auto; /* Center the Jumbotron horizontally */
  }

  /* Custom Image Styles */
  .custom-image {
    width: 70px;
    height: auto;
    margin-bottom: 10px; /* Space between icon and text */
  }

  /* Icon Text Container Styles */
  .icon-text-container {
    text-align: center;
  }

  /* Custom Card Row Styles */
  .custom-card-row {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Section Heading Styles */
  .section-heading {
    text-align: center;
    margin-bottom: 30px;
    color: black;
  }

  /* Text Block Styles */
  .text-block {
  padding-top: 20px; /* Adjust the value as needed */
}

  /* Skills Section Styles */
  #skills {
    margin-top: 100px;
}

/* Form Styles */
form {
    background-color: rgb(228, 228, 228);
    padding: 20px;
    border-radius: 5px;
}

/
//* Footer Section Styles */
footer {
    background-color: white; /* Background color for the footer */
    color: black; /* Text color */
    text-align: center;
    padding: 10px 0; /* Padding at the top and bottom of the footer */
    width: 100%; /* Make the footer span 100% of the width */
    margin-top: 40px;
}

/* Footer Icons */
footer .fab,
footer .fas {
    font-size: 24px; /* Set the icon size */
    margin-bottom: 10px; /* Space between icon and text */
}

/* Remove underline from anchor tags wrapping icons */
footer .fab, 
footer .fas {
    text-decoration: none;
}

/* Remove underline from anchor tags wrapping icons in the footer */
footer a.text-red,
footer a.text-yellow,
footer a.text-blue,
footer a.text-green {
    text-decoration: none;
}

/* Footer Icon Colors */
footer a.text-red i.fas,
footer a.text-yellow i.fas,
footer a.text-blue i.fab,
footer a.text-green i.fab {
    font-size: 30px; /* Set the icon size */
    margin-bottom: 10px; /* Space between icon and text */
    color: #DB4437; /* Default color */
    transition: all 0.3s ease; /* Add smooth transition effect for color change */
}

footer a.text-yellow i.fas {
    color: #F4B400; /* Default color */
}

footer a.text-blue i.fab {
    color: #4285F4; /* Default color */
}

footer a.text-green i.fab {
    color: #000000; /* Default color */
}

/* Hover effect */
footer a.text-red:hover i.fas,
footer a.text-yellow:hover i.fas,
footer a.text-blue:hover i.fab,
footer a.text-green:hover i.fab {
    color: #0F9D58; /* Change color on hover */
    /* box-shadow: 0 0 10px #FF5733; Add outer glow effect on hover */
}